
html
head
    title Gestión de Exámenes Médicos
    link(rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbars/")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
    style. 
        //.container.form{
            background-color: green;  
        //}
        .miform{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .input-group.mb-3{
            padding: 30px 10px 0px 20px;
            display: flex;
        }

        .form-control{
            width:100px 
        }
body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark(aria-label="Third navbar example")
        div.container-fluid
            a.navbar-brand(href="#") HOME
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarsExample03", aria-controls="navbarsExample03", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarsExample03
                ul.navbar-nav.me-auto.mb-2.mb-sm-0
                    li.nav-item
                        a.nav-link.active(aria-current="page", href="/") Pacientes
                    li.nav-item
                        a.nav-link(href="#") Ordenes
    div.container
        h1(style="text-align: center;") Gestión de Exámenes Médicos

    //Formulario para ingresar nuevos exámenes 
    h2 Ingreso de Nuevos Exámenes
    form(action="/nuevoexamen")
        button(type="submit") Agregar Nuevo Examen
    // Lista de exámenes existentes 
    div.class.alert.alert-primary.alert-dismissible.fade.show(style="padding: 30px; background-color: royalblue;")
      table.table.table-striped
        thead
            tr
              th(scope="col") Examen
              th(scope="col") Editar Examen
        tbody
            each examen in examenes       
                tr
                    input(type="hidden" name="id" value)
                    td
                        a(href="")= examen.descripcion
                    td
                        form(action=`/actualizar/`)  
                        button(type="submit" class="btn btn-primary")
                            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16")
                            path(d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z")
                            path(fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z")


